body{
  width: 100%;
  height: 100vh;
  margin: 0px;
  margin-top: 30px;
  padding: 0px;
  font-family: Arial, sans-serif;
}

#login{
  display: none;
}

.contenu{
  display: none;
}

.erase{
  position: absolute;
  margin-bottom: 50px;
  display: none;
  left:47%;
  margin-left: -22px;
}

h1{
  text-align: center;
  margin-bottom: 20px;
  padding: 40px 0;
}

.titre{
  --float:left;
  width:20%;
  display: inline;
}

.button{
  margin-left: 20%;
  padding-top: -5px;
  display: inline;
}

.test{
  display: inline;
  //margin-bottom: 10px;
}


.slide{
  display:none;
  width: 100%;
}

.CDS1, .CDS2{
  border-bottom : 1px solid #164463;
}

.wrap{

  width:80%;
  margin-left: 7%;
}

.CDS{
  margin-bottom : 10px;
  padding-bottom : 10px;

}

.CDS table{
  margin-top: 10px;
}

.CDS1 .slide, .CDS2 .slide{
  padding-bottom: 10px;
}

.sidebar{
  width: auto;
  position: fixed;
  margin-left: 91%;
  //background-color: #009ee0;
  color:white;
}

.sidebar ul li{
  //padding-top: 10px;
}

label{
  display: inline-block;
}

#client{
  display: inline-block;
}

.float{
  width:auto;
  display:inline-grid;
}

.left{
  display: inline-grid;
}

.right{
  display:inline-block;
  margin-left: 20px;
  margin-bottom: 5px;
}

.recherche{
  margin-top: 40px;
  margin-bottom: 80px;
}

.ui-autocomplete {
	height: 70px;
	width: 100px;
	overflow-y: scroll;
	overflow-x: hidden;
  border:1px solid #164463;
  z-index: 2;
  background-color: white;
}

#alertFormError{
  display: none;
	color: red;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ui-menu{
  padding:0;
}

.ui-menu-item{
	font-size: 14px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
  }

.sidebar ul li, .sidelink, .sidelink:visited{
  list-style:none;
  text-decoration: none;
}

.spinner {
    position: fixed;
    top: 55%;
    left: 50%;
}

.spinner-form{
}

.even{
  background-color:#c5cddb;
}

.para{
  font-size: 20px;
  position:relative;
  font-family:  arial, sans-serif;
  top: 3px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
  color:#164463;
}

#formC{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.reponse{
  display: none;
  text-align: left;
  font-size: 15px;
  height: 100px;
  border: 1px rgb(206, 212, 218) solid;
  border-radius: 4px;
  background-color: white;
  color:#164463;
  overflow-y:auto;

}

/*
.navbar {
  overflow: hidden;
  background-color: #009ee0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover{
  background-color: #06587a;
}

.active{
  background-color: #06587a;
}*/

.slide tbody tr td a {
  color:#212529;

}

.slide tbody tr td a:hover {
  color:#212529;
  text-decoration: underline;
}

.exportAll{
  //color: #007bff;
  font-size: 20px;
  padding-left: 10px;
}

.export:hover{
  text-decoration: none;
}
