html{
	width:100%;
}

body{
	//background-color: #efefef;
	margin-top: 30px;
	font-family: Arial, sans-serif;
}

#login{
	display: none;
}

#connected{
	display: none;
}

#alertFormError{
	display: none;
}

#infoCollabo{
	display: none;
}

.tabbed_area{
	display: none;
}

#content_org{
	display: none;
}

#content_backlog{
	display: none;
}

.popup{
	display: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
  }

.nav-link{
	font-size: 16px;
	font-family: arial;
}

h1 {
	font-family:  arial, sans-serif;
	color: #164463;
	font-weight: bold;
	font-size: 24px;
	display: block;
	margin: auto;
	width: 691px;
}

h1 ~ h2{
	font-family:  arial, sans-serif;
	color: #164463;
	font-weight: bold;
	font-size: 24px;
	display: block;
	margin: auto;
	width: 785px;
	text-align: center;
}


.spinner {
	position: fixed;
	top: 80%;
	left: 50%;
}

#connected{
	padding: 40px;
}

/*
#link:hover{
	text-decoration:none;
	color: #1C94C4;
}

a, a:visited {
	text-decoration:none;
	color: #1C94C4;
}

a:hover {
	text-decoration:underline;
	color:#EB8F00;

}*/

#refresh{
	display: inline-block;
	position: relative;
	top: 10px;
	border      : 0;
	background  : transparent;
	font-family : inherit;
	font-size   : 12px;
	font-weight: bold;
	cursor      : pointer;
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 2px;
	font-family: Arial;
	color: #ffffff;
	padding: 5px 10px;
	float: right;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
}

#refresh:hover{
  background: #EB8F00;
  background-image: -webkit-linear-gradient(top, #EB8F00, #d96e34);
  background-image: -moz-linear-gradient(top, #EB8F00, #d96e34);
  background-image: -ms-linear-gradient(top, #EB8F00, #d96e34);
  background-image: -o-linear-gradient(top, #EB8F00, #d96e34);
  background-image: linear-gradient(to bottom, #EB8F00, #d96e34);
}

/* login */

#login{

	margin: 0 auto;
	width: 350px;
	padding: 20px;
	text-align: center;
	background-color: #C1C3C3;
	margin-top: 20%;
	-webkit-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

#login h2{
	margin: 0;
	color: #1C94C4;
}

.errorMessage {
	color: red;
}


/* onglet */

.tabbed_area {
    //border:1px solid #BCBCBC;
    //background-color:#D3D4D4;
    //padding: 15px 25px;
	margin-top: 1%;
}
ul.tabs {
    margin:0px; padding:0px;
}
ul.tabs li {
    list-style:none;
    display:inline;
}
ul.tabs li a {
    background-color:#464c54;

    padding:8px 14px 8px 14px;
    text-decoration:none;
    font-size:9px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    border:1px solid #464c54;
}
ul.tabs li a:hover {
    background-color:#2f343a!important;
    border-color:#2f343a;
		color:#EB8F00!important;
}
ul.tabs li a.active {
    background-color:#ffffff!important;

    border:1px solid #464c54;
    border-bottom: 1px solid #ffffff;
}
.content {
    background-color:#ffffff;
    //padding:10px;
  //border:1px solid #464c54;
}

ul.tabs {
    margin:0px; padding:0px;
    margin-top:5px;
    margin-bottom:6px;
}
.content ul {
    margin:0px;
    padding:0px 20px 0px 20px;
}
.content ul li {
    list-style:none;
    border-bottom:1px solid #d6dde0;
    padding-top:15px;
    padding-bottom:15px;
    font-size:13px;
}

.content ul li:last-child {
    border-bottom:none;
}
ul.tabs li a {
    background-image:url(images/tab_off.jpg);
    background-repeat:repeat-x;
    background-position:bottom;
}
ul.tabs li a.active {
    background-image:url(images/tab_on.jpg);
    background-repeat:repeat-x;
    background-position:top;
}
.content {
    background-image:url(images/content_bottom.jpg);
    background-repeat:repeat-x;
    background-position:bottom;
}

caption{
	color: #436372;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px 10px 0;
    text-align: left;
}

#infoCollabo{
	//border: 1px solid #bcbcbc;
	padding: 2%;
	//background-color: #d3d4d4;
}

#infoCollabo p, #infoCollabo h3{
	display: inline-block;
	margin: 2%;
}

#infoCollabo h3{
	padding: 0;
	font-size: 16px;
}

#infoC1,#infoC2,#infoC3,#infoC4{
	width: 24.2%;
	display: inline-block;
}

#infoC5{
	width: 500px;
	display: block;
	text-align: center;
	margin-top: 1.5%;
	margin-left: 33%;
	padding: 1%;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;

}

#infoC5 h3,#infoC5 p{
	padding : 0;
	margin : 0 1% 0 0;
}
/*
.navbar {
  overflow: hidden;
  background-color: #009ee0;
  position: fixed;
  top: 0;
	left:0;
  width: 100%;
  z-index: 2;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover{
  background-color: #06587a;
}

.active{
  background-color: #06587a;
}*/
